<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img src="https://png.pngtree.com/png-vector/20210227/ourlarge/pngtree-letter-v-logo-design-png-png-image_2975240.jpg"
    style="width:50px;height:50px;" />
  <span>Vista Heroes</span>

  <div class="spacer"></div>
  <p style="margin-right:20px">In a world full of Maniacs, choose the right one.
  <p>
</div>
<h1>Choose your Vista Hero</h1>

<div class="content" role="main">

  <div class="wrapper">
    <span>C</span>
    <span>H</span>
    <span>O</span>
    <span>O</span>
    <span>S</span>
    <span>E</span>
    <span> </span>
    <span>Y</span>
    <span>O</span>
    <span>U</span>
    <span>R</span>
    <span>‎‎‎ </span>
    <span>C</span>
    <span>H</span>
    <span>A</span>
    <span>R</span>
    <span>A</span>
    <span>C</span>
    <span>T</span>
    <span>E</span>
    <span>R</span>
  </div>

  <br><br><br>
  <div class="card-container">

  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="МешкоФ">
      <div class="content-wrap">
        <div class="left-wrap">
          <mat-card style="height: 300px; margin-top: 30px;">
            <img src="https://i.ibb.co/rxrzwjf/unknown-1.png" style="height: 300px;">
          </mat-card>
        </div>
        <div class="right-wrap">
          <mat-card style="height: 300px;  margin-top: 30px;">
            <h1>Вано МешкоФ</h1>
            <h2>Advantages and disadvantages</h2>
            <p>
              This character comes with leadership abilities which controls the actions of the other characters of this
              guild. Pure heart, proficient thinker and team leader.
            </p>
            <br>
            <div style="width: 50%">
              <p style="text-align: left;">Zoom:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Humor:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="60"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Leadership:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Sleeping on parties:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="float: right;">
              <a (click)="openDialog()" class="action-button shadow animate blue">Choose </a> 
            </div>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Бо4варски">
      <div class="content-wrap">
        <div class="left-wrap">
          <mat-card style="height: 300px; margin-top: 30px;">
            <img src="https://i.ibb.co/YLsS2Bp/unknown-3.png" style="height: 300px;">
          </mat-card>
        </div>
        <div class="right-wrap">
          <mat-card style="height: 300px; margin-top: 30px;">
            <h1>Бо4е Бо4варски</h1>
            <h2>Advantages and disadvantages</h2>
            <p>
              This character comes with russian manners and high level pedophilia. Underage children are his biggest
              disadvantage which makes him vulnerable for making the right decisions.
            </p>
            <br>
            <div style="width: 50%">
              <p style="text-align: left;">Little children:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Black humor:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Love for Рашкоски</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="80"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Borrowing cigarettes:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="float: right;">
              <a (click)="openDialogBoce()" class="action-button shadow animate blue">Choose</a>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Рашкоски">
      <div class="content-wrap">
        <div class="left-wrap">
          <mat-card style="height: 300px; margin-top: 30px;">
            <img src="https://i.ibb.co/DQLBztV/unknown.png" style="height: 300px;">
          </mat-card>
        </div>
        <div class="right-wrap">
          <mat-card style="height: 300px;  margin-top: 30px;">
            <h1>Рашо Рашкоски</h1>
            <h2>Advantages and disadvantages</h2>
            <p>
              This character comes with extraordinary coffee making expertise which heals and gives power to the other
              members of this guild. Jealous lovebird, in open relationship with Бо4варски.
            </p>
            
            <div style="width: 50%">
              <p style="text-align: left;">Coffee cooking:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Humor:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="30"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Love for Бо4варски</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Food ordering:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="float: right;">
              <a (click)="openDialogRaso()" class="action-button shadow animate blue">Choose</a>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Бубастис">
      <div class="content-wrap">
        <div class="left-wrap">
          <mat-card style="height: 300px; margin-top: 30px;">
            <img src="https://i.ibb.co/L5GCbhc/unknown-2.png" style="height: 300px;">
          </mat-card>
        </div>
        <div class="right-wrap">
          <mat-card style="height: 300px;  margin-top: 30px;">
            <h1>Рашо Рашкоски</h1>
            <h2>Advantages and disadvantages</h2>
            <p>
              This character comes without luck and one leg. Hard working maniac with undefined mental disorder.
            </p>
            <br>
            <div style="width: 50%">
              <p style="text-align: left;">Dirty mind:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Zoom:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="70"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Alcohol</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="100"></mat-progress-bar>
            </div>
            <div style="width: 50%; margin-top: 5px;">
              <p style="text-align: left;">Right decisions:</p>
              <mat-progress-bar style="width: 100%;" mode="determinate" value="1"></mat-progress-bar>
            </div>
            <div style="float: right;">
              <a (click)="openDialog()" class="action-button shadow animate blue">Choose</a>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

<router-outlet></router-outlet>